<link rel="stylesheet" href="/w3css/3/w3.css">
  <h1 style="text-align: center; color:brown" class="title">
    Childcare | Infant Care
  </h1>
  <body>
  <p class="data">
<img src="https://www.singaporeair.com/saar5/images/navigation/travel-info/special-assistance/travelling-with-children.jpg" style="width:100%" alt="Smiley face" style="float:left;width:50%;height:45%;">
We believe that learning should be fun to encourage positive learning attitude within each child.
 In a comfortable classroom environment festooned with enthralling posters and well-thought-out programs, 
 children are engaged in an effective and fun learning process.we are committed to holistic child development and providing holistic training. 
 We believe that in order to provide a comprehensive learning system,
  our teachers need to have an immerse understanding on the importance of conveying the right values to nurture a child's character. 
</p><br>
<p class="data">
    <img src="https://images.theconversation.com/files/139262/original/image-20160926-31866-1230b9o.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip"   style="float:right;width:50%;height:25%;">
   KiDsCaRe teachers are constantly under-going training sessions while upholding these values: 
   <ol class="data">

    <li><b> Quality:</b> Provide outstanding service that delivers premium value to children</li>
    
   <li>  <b>Teamwork: </b>Work together to meet the needs of children</li>
    
    <li> <b>Learning: </b>Eager to learn, reflect, adapt, share knowledge and experiences</li>
    
    <li> <b>Integrity: </b>Uphold the highest standards of integrity in all our actions </li>
</ol>

    
    
  </body><hr><hr>
  <p>Your child will be able to improve their sporting performance with advanced data analytics technology used in our indoor/outdoor sports fields. You can also be confident knowing that your <b>child’s safety and security </b>is guaranteed with advanced safety features, such as facial recognition.</p>
  
    <footer>&copy; Copyright 2020 KiDsCaRe</footer>
  





