


<div class="container-fluid mt-2 p-5 " >
    <h2 class="page-header">Student Profile</h2><br>
    <div class="row">
       <div class="col-4 jumbotron" style="border-radius:10px">
    <form   (ngSubmit)="updateStudent()" >
        <div class="form-group">
           <label>Register Number</label> <br>
           <input type="number" [(ngModel)]="studentService.selectedStudent.regnumber" name="regnumber" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>First Name</label> <br>
            <input type="text" [(ngModel)]="studentService.selectedStudent.first_name" name="first_name" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Last Name</label> <br>
            <input type="text" [(ngModel)]="studentService.selectedStudent.last_name" name="last_name" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Date Of Birth</label> <br>
            <input type="date" [(ngModel)]="studentService.selectedStudent.dob" name="dob" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Gender</label> <br>
            <input type="text" [(ngModel)]="studentService.selectedStudent.gender" name="genderr" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Father Name</label> <br>
            <input type="text" [(ngModel)]="studentService.selectedStudent.father_name" name="father_name" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Father Phone Number</label> <br>
            <input type="number" [(ngModel)]="studentService.selectedStudent.father_phno" name="father_phno" class="form-control">
         </div><br>
         <div class="form-group">
            <label>mother_name</label> <br>
            <input type="text" [(ngModel)]="studentService.selectedStudent.mother_name" name="mother_name" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Mother Phone Number</label> <br>
            <input type="number" [(ngModel)]="studentService.selectedStudent.mother_phno" name="mother_phno" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Address</label> <br>
            <input type="textarea" [(ngModel)]="studentService.selectedStudent.address" name="address" class="form-control">
         </div><br>
         <div class="form-group">
            <label>Pin Code</label> <br>
            <input type="number" [(ngModel)]="studentService.selectedStudent.pincode" name="pincode" class="form-control">
         </div><br>
         <div>
             <button type="submit"  class="btn btn btn-success">Update</button>
         </div>
    </form>
    </div>
    </div>
</div>


<hr>

