
<!DOCTYPE html>
<meta charset="UTF-8">

<head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body (onload)="myFunction()">
    <h1 style="color: rgb(226, 43, 73);">KiDsCaRe</h1>
  
 <div class="container">

<div class="topnav">
  <a class="active" (click)="home()">Home</a>
  <a  (click)="gallery()">Gallery</a>
  <a  (click)="contact()">Contact</a>
  <a  (click)="about()">About</a>
  
  <div>
  <a button="button" class="btn btn" (click)="admin()">Admin console</a>
  </div>

</div>

</div>
</body>








  







